<div class = "container  mt-1">
  <div class="row pt-4">
    <div class="col-md-12 pt-3">
    <h3> <%= @patissier.name %>さんのページ</h3>
    </div>
    <div class="col-md-12 text-center pt-3">
      <%= link_to "おすすめリストを見る", new_user_registration_path, class: "btn btn-outline-success" %>
      <%= link_to "登録した店舗を見る", patissiers_path, class: "btn btn-outline-success" %>
      <%= link_to "ランキングを見る", recommend_ranking_shops_path, class: "btn btn-outline-success" %>
      
      </div>
  </div>
</div>