<h1>パティシエおすすめパティスリー</h1>
<li>
        <%= link_to "一般新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "一般ログイン", new_user_session_path %>
      </li>

 <li>
        <%= link_to "パティシエ一般新規登録", new_patissier_registration_path %>
      </li>
      <li>
        <%= link_to "パティシエログイン", new_patissier_session_path %>
      </li>
      
      <p>ランキングを見る</p>
      
      <p>会員登録していただくと検索機能や<br>
      行きたいお店のリストなどご利用いただけます</p>