<div class = "container mx-5 mt-1">
  <div class= "top_image"></div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>PatissierおすすめPatisserie</h3>
    </div>
    <div class="col-md-4 text-center btn-group-vertical offset-1 ">
      <%= link_to "一般新規登録", new_user_registration_path , class: "btn btn-outline-success" %>
      <%= link_to "一般ログイン", new_user_session_path , class: "btn btn-outline-primary"  %>
    </div>
    <div class="col-md-4 text-center btn-group-vertical offset-1 ">
      <%= link_to "パティシエ一般新規登録", new_patissier_registration_path , class: "btn btn-outline-success"  %>
      <%= link_to "パティシエログイン", new_patissier_session_path , class: "btn btn-outline-primary"  %>
    </div>
     <div class="col-md-12 text-center">
    
        </div>
      <p>会員登録していただくと検索機能や<br>
      行きたいお店のリストなどご利用いただけます</p>
      </div>